<form class="new-post-form">
  <h3>Write Your Review</h3>

  <div>
    <label for="review-title" class="review-text">Title</label>
    <input name="review-title" type="text" id="title" class="title" placeholder="Review Title" />
  </div>
  
  <div>
    <label for="review-text" class="review-text">Review</label>
    <input name="review-text" type="text" id="review" class="review" placeholder="Write Your Review" />
  </div> 

  <div>
    <input type="submit" class="review"></button>
  </div>

</form>

<script src="/javascript/add-review.js"></script>