<article class="post">
  <main>
    <div class="card-container-row">
      <div class="card-container-column">
        <div class="card">
          <h5><a href="/view-reviews">Read Reviews</a></h5>
          <div class="instructions">
            <p>Click here to read a review of other rental properties</p>
          </div>
        </div>

        <div class="card">
          <h5><a href="/add-review">Write a Review</a></h5>
          <div class="instructions">
            <p>Click Here to Add a Review</p>
          </div>
        </div>
      </div>

      <div class="card-big">
        <img src="/images/homepagehouse.jpg">
      </div>
    </div>
  </main>
</article>