<div class="forms">

  <form class="login-form">
    <h4>Login here</h4>
    <div>
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" class="form-input" placeholder="Your Email Address" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" class="form-input" placeholder="Password" />
    </div>
    <div>
      <input type="submit"></input>
    </div>
  </form>

  <form class="signup-form">
    <h4>Sign Up here</h4>
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" class="form-input" placeholder="Create A Username" />
    </div>
    <div>
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" class="form-input" placeholder="Enter Valid Email Address" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" class="form-input" placeholder="Create a Strong Password" />
    </div>
    <div>
      <input type="submit"></button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>