<article class="post">
  <div class="title">
    <a href="{{post.address}}">{{post.address}}</a>
    <span>({{post.review_content}})</span>
  </div>


</article>

<script src="/javascript/review.js"></script>