

<section>
  <h2>Your reviews</h2>
  <ol>
    {{#each reviews as |review|}}
    <li>
      {{> review-info review}}
    </li>
    {{/each}}
  </ol>
</section>

<script src="/javascript/add-review.js"></script>