<section>
  <h2 id="view-header">Past reviews</h2>
  <ul id="view-review-list">

    <div class="review-card">
      <li>
        <h3 id="review-address">1st partial</h3>
        {{> review-info review}}
      </li>
    </div>

    <div class="review-card">
      <li>
        <h3 id="review-address">2nd partial</h3>
        {{> review-info review}}
      </li>
    </div>

  </ul>
</section>