<section>
  <h2 id="view-header">Past reviews</h2>
  <ul id="view-review-list">

    <div class="review-card">
      <li>
        <h3 id="review-address" href="">262. Roger Ln Appleton, WI 54136</h3>
        <h4>I like this house, I've lived here my whole life</h4>
      </li>
    </div>

    <div class="review-card">
      <li>
        <h3 id="review-address" href="">111 Handlebars Lane Madison, WI 54190</h3>
        <h4>I don't like this house, because it has handlebars involved.</h4>
      </li>
    </div>

  </ul>
</section>