<section>
  <h2>Your reviews</h2>
  <ol>

    <li>
      <h3>1st partial</h3>
      {{> review-info review}}
    </li>

    <li>
      <h3>2nd partial</h3>
      {{> review-info review}}
    </li>


  </ol>
</section>