* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nav Styles */

nav {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  background-color: #3d9dd0;
}

nav ul li a:hover {
  color: black;
  transition: .4s;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button {
  background-color: white;
  padding: 1%;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}

.logo {
  color: #3d9dd0;
  font-size: 35px;
  letter-spacing: 1px;
}

.logo:hover {
  color: black;
  transition: .4s;
}

/* Homepage Card Styles */

.card-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 120px;
  width: 500px;
  padding: 20px 35px;
  background: white;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 5px solid rgb(61, 130, 175);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card.card-big {
  height: 380px;
  width: 700px;
}

h5 {
  color: rgb(61, 130, 175);
  font-size: 30px;
  text-align: center;
  margin-bottom: 1px;
}

h5:hover {
  color: black;
  transition: .4s;
}

.instructions p {
  color: black;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 50px;
  font-weight: bold;
}

/* Login Page */

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h4 {
  font-size: 30px;
  color: white;
}

.login-form {
  height: 400px;
  width: 500px;
  padding: 20px 20px;
  background: rgb(61, 130, 175);
  border-radius: 20px;
  margin: 15px;
  text-align: center;
  border: 5px solid rgb(61, 130, 175);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.signup-form {
  height: 400px;
  width: 500px;
  padding: 20px 20px;
  background: white;
  background: rgb(61, 130, 175);
  border-radius: 20px;
  margin: 15px;
  text-align: center;
  border: 5px solid rgb(61, 130, 175);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.form-input {
  border: 1px solid rgb(61, 130, 175);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: rgb(61, 130, 175);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .75);
}

.form-input:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

/* Footer Styles */

.footer {
  width: 100%;
  padding: 5px;
  margin-top: 500px;
}

.footer h2 {
  color: rgb(61, 130, 175);
  font-size: 15px;
  text-align: center;
}

.footer p {
  color: rgb(61, 130, 175);
  font-size: 15px;
  text-align: center;
}